<div class="calcetines">
  <p>
    John trabaja en una tienda de ropa. Tiene una gran pila de calcetines
    que debe combinar por color para la venta.
    Data una matriz de enteros que representa el color de cada calcetin. Determina
    cuántos pares de calcetines con colores coincidentes hay.
  </p>
  <p>
    Por ejemplo, hay <strong>  n = 7</strong> calcetines con colores
    <strong> ar = [1,2,1,2,1,3,2]. </strong> Hayun par de colores <strong>1</strong> y uno de color
    <strong>2</strong>. Quedan tres calcetines extraños, uno de cada color. El número de pares es <strong>2</strong>
  </p>
  <div class="accion">
    <button mat-stroked-button color="primary" (click)="openModalCalcetines()">RESOLVER</button>
  </div>
</div>