<div class="calcetines">
  <p>
    Usted está a cargo del pastel para
    el cumpleaños de su sobrina y ha decidido que el pastel tendrá
    una vela por cada año de su edad total.
    Cuando ella apague las velas, solo podrá apagar las más altas. Tu tarea es averiguar cuántas velas puede apagar.
  </p>
  <p>
    Por ejemplo, si tu sobrina está cumpliendo <strong>4</strong> años el pastel tendrá <strong>4</strong> velas de altura <strong>4, 4, 1, 3</strong>,
    ella será capaz de apagar <strong>2</strong> velas con éxito, ya que las velas más altas son de altura
    <strong>4</strong> y aquí hay <strong>2</strong> de esas velas.
  </p>
  <div class="accion">
    <button mat-stroked-button color="primary">RESOLVER</button>
  </div>
</div>