/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.accion {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.accion > button {
  width: 150px;
}